extends layouts/main.pug
block profile

    div(class="grid-x grid-padding-x largePaddingTop pageMainSection")
        include includes/user-panel 
        article(class="grid-x cell medium-6 large-8 userProfile")

            //Information about user's pet(s)
            
            div(class="cell text-center profileHeader" id="petAreaHeader")
                h3= user.username + "'s Pets" 

            div(id="petArea" class="cell medium-11")
                
                each val in pets
           
                    div(class="grid-x petInfo" id= val.pet)
                        div(class="cell medium-6 petImage")
                            img(src="/assets/images/dog-placeholder.svg") 
                            
                        div(class="cell grid-x medium-6 PetDetails")
                            h3(class="")= val.petName + ', ' + val.petAge
                            li=val.petBreed
                            li=val.petGender
                            //- if userID === 
                            button(class="medium-6 button alert", data-id=val.id, id="petRemoveBtn") Remove
                else 
                    h5= user.username + "has no pets listed yet."
                hr


        include includes/info-panel