article(class="grid-container" id="allUsersDiv")
    p.text-center Connect with other users in your area and make new bff for your dog!
    div(class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-5 allUsers")
        div(class="cell users")
            img(src="/assets/images/k.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") George P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 1
                    div(class="overlayContact float-right")
                        
                        p 
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        
        div(class="cell users")
            img(src="/assets/images/e.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") May P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            //Online icon
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 1
                    div(class="overlayContact float-right")
                        
                        p 
                            //Online icon
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/i.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Vo P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 3
                    div(class="overlayContact float-right")
                        
                        p 
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/b.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Lily P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 1
                    div(class="overlayContact float-right")
                        
                        p 
                            //Online icon
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/l.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Tom P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 3
                    div(class="overlayContact float-right")
                        
                        p 
                            //Online icon
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            //- img(src="/assets/img/a.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Kim P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 2
                    div(class="overlayContact float-right")
                        
                        p    
                            //Online icon
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/f.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Pat P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            //Online icon
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 3
                    div(class="overlayContact float-right")
                        
                        p 
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/j.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Lew P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 2
                    div(class="overlayContact float-right")
                        
                        p 
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/h.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Kay P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 3
                    div(class="overlayContact float-right")
                        
                        p 
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button   small primary") View profile!

        div(class="cell users")
            img(src="/assets/images/d.jpg" alt="image for article")
            div(class="textOverlay textCtr")
                h5(class="user-name") Troy P. 
                span(class="location")
                    span(class="location-icon fa fa-map-marker")
                        pan(class="location-text") Austin, TX
                div(class="makeFlex")
                    div(class="overlayInfo float-left")
                        p 
                            i(class="fa fa-paw big")
                            span(class="pets") #{ petTotal } 1
                    div(class="overlayContact float-right")
                        
                        p 
                            i(class="fa fa-user big")
                        
            div(class="overlay ctr")
                a(href="" target="_blank")
                    button(type="button" class="hollow button small primary") View profile!


