div(class="cell medium-3 large-2 noMarginTop sidePanels" id="userArea" )

        div(class="panel-radius" id="user")

            //Start user card
            div(class="card-user-container")

                // card's image
                div(class="card-user-avatar")
                    a(href="/profile")
                        img(src="/assets/images/4.jpg" alt="" class="profile-image")
                
                    //user info, pet, and location
                div(class="card-user-bio")
                    h4 Hi, 
                        span(id="username")= username

                    span(class="location")
                        span(class="location-icon fa fa-map-marker")
                            pan(class="location-text") Austin, TX
                    p  
                        span(id="pets") __ #{ petTotal } fur babies!
                        </p>
            
                    //User's registered pets
                div(class="card-user-pets")
                    ul(class="menu")
                        li(class="fa fa-paw" data-toggle="animatedPetOneModal")
                            #{ petName } 
                            | Tommy
                        li(class="fa fa-paw" data-toggle="animatedPetTwoModal")
                            #{ petName }
                            | Loui
                        li(class="fa fa-paw" data-toggle="animatedPetThreeModal")
                            #{ petName }
                            | Spot
                div(class="add-pets text-center")
                    button(class="hollow center expanded button" href="#") 
                        a(id="addPetsBtn", href="/pets/add") Add a Pet
                    button(id="logoutBtn", class="button alert expanded ") Logout
                    
                hr

        div(class="panel-radius" id="weather")

            //-     | Current Weather 
            h5(id="currentDate")
        
                //- <!--   Current weather goes here  -->
        
            .weatherEl#currentWeather
                div(class="grid-x ")
                    p(class="cell small-4 medium-6 currentTempInfo")
                        span(id="temp")
                    img(class="cell small-4 medium-6" id="weather-icon" alt="")
                    
                p Humidity: 
                    span(id="humidity")
                p Wind Speed: 
                    span(id="wind")
                p UV Index: 
                    span(id="uv-index")
                p
                    a(class="smallPrint" href="/forecast" alt="") View 6-day forecast

        
block localScripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAknu-YiOa6OcYDUB-Oy0AbQg1X3IIuZg&libraries=places&callback=createMap", async, defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js", type="text/javascript")
    script(src="./assets/scripts/logout.js", type="text/javascript")
    script(src="./assets/scripts/map.js", type="text/javascript")
    script(src="./assets/scripts/home.js", type="text/javascript")